ErrorDocument 404 ./
RewriteEngine On
RewriteBase /

# Leitet /index.html per 301-Redirect permanent auf die Hauptdomain
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://%{HTTP_HOST}/ [R=301,L]